body{
  background-color: #333;
}
.navbar {
    background-color: #333;
    overflow: hidden;
    border-bottom: 2px solid white;
}
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
  
  .navbar li {
    display: inline-block;
    margin-right: 20px;
}
  
  .navbar a {
    display: block;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
}
  
  .navbar a:hover {
    background-color: #555;
}

/* Resetear márgenes y rellenos para el cuerpo y la sección */
section {
    margin: 0;
    padding: 0;
  }
  
  /* Estilos para la sección */
  .mi-seccion {
    width: 90vw;
    padding: 2em;
    margin: auto;
    margin-top: 4em;
    background-color: #817777;
    border-radius: 5px;
  }
  
  /* Estilos para los elementos dentro de la sección */
  .mi-seccion h2 {
    color: 333;
  }
  
  .mi-seccion p {
    color: 666;
  }
  
  .supra{
    gap: 2em;
    padding: 50px;
    display: flex;
    align-items: center;
  }
  .supra img{
    width: 500px;
    height: 320px;
    border-radius: 7%;
    border: #373c4a 3px solid;
  }
  .supra img:hover{
    transform: scale(1.1);
    transition: 1s;
  }

  .texto_art{
    background-color: #817777;
    padding: 40px;
    margin-left: 10px;
    border-radius: 5px;
  }
  #cards-container{
    width: 85vw;
    margin: auto;
    padding: 4em;
    margin-bottom: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly ;
    align-items: center;
    gap: 4em;
    background-color: #333;
    border-radius: 20px;
  }

  .card{
    background-color: #817777;
    border-radius: 20%;
    align-items: center;
    width: 14em;
    height: 15em;
    padding: 1em;
    display: flex;
    justify-content: center;
    margin-left: 2em;
    transition: transform 0.3s ease-in-out;
  }
  /*al pasar el cursos sobre este elemento/*/
  .card:hover{
    transform: scale(1.1);
    background-color: #4b3939;
    color: white ;
  }

  /* # para seleccionar un id unico/*/
  #ej_flex{
    border: 2px solid black;
    /*porcentaje del ancho de la pantalla donde este /*/
    width: 80vw;
    margin: auto;
    padding: 2em;
  }




